/* Global styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #A3A69B;
    color: #000;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /
}

a:link, a:visited, a:hover, a:active {
    color: black; /* Ensures hyperlink color is black */
    text-decoration: underline; /* Ensures hyperlinks are underlined */
    font-family: 'Roboto', Arial, sans-serif; /* Ensures font consistency with the rest of the text */
}

/* Styles for the horizontal divider */
hr {
    width: 100%; /* Ensures the divider spans the entire width of its container */
    border: none;
    height: 2px;
    background-color: black;
    margin-top: 5px; /* Light grey color for visibility */
    margin-bottom: 23px;
}

.heading {
    margin-top: 0;
    margin-bottom: 0; /* Adjust as needed for space below the heading */
    line-height: 18px; /* Specific line height for heading text */
    font-size: 18px; /* Adjust font size as needed */
}

.box-top {
    background-color: #A3A69B;
    margin-top: 23px;
    margin-left: 25px;
    margin-right: 25px;
    display: flex;
    flex-direction: column;
    align-items: left;
    /* Prevents the flex items from shrinking smaller than their content */
    overflow: auto; /* Adds scroll to the centered-box if content exceeds viewport height */
}

.box-top hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.top hr{
    margin-top: 0px;
    margin-bottom: 0px;

}

.box-top-text hr {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box-top-date-time {
    display: flex; /* Enables flexbox layout */
    justify-content: space-between; /* Aligns children to each end */
    align-items: center; /* Centers items vertically */
    width: 100%; /* Ensures full width usage */
}

.box-top-date-time hr {
    margin-top: 5px;
    margin-bottom: 5px;;
}

.box-top-date, .box-top-time {
    display: flex; /* Further alignment within these divs */
    align-items: center; /* Centers items vertically */
}

/* Optional: Add specific styling for spacing between the links in .box-top-date */
.box-top-date a + a {
    margin-left: 5px; /* Space between "2024" and "2023" */
}

/* Ensure text alignment for time and temperature */
#stavangerTime, #temperature {
    margin-left: 5px; /* Adds spacing if needed, adjust accordingly */
}

.vector-graphic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}

.vector-graphic-container img {
    width: 100%; /* Ensures the image is responsive and fits its container */
    height: auto; /* Maintains the aspect ratio of the image */
    display: block;
}
.box-content {
    background-color: #A3A69B;
    margin-top: 37px;
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Adjusted to 'flex-start' for proper alignment */
    overflow: auto;
}

/* Styles for the link container */
.link-container {
    display: flex; /* Aligns links horizontally */
    justify-content: flex-start; /* Ensures links are left-aligned */
    gap: 10px; /* Adds space between links, adjust as needed */
}

.logo-placeholder-mobile {
    width: 100%; /* Ensures the placeholder takes up the correct width within the container */
    height: auto; /* Keeps aspect ratio of the content */
    background-color: transparent; /* Placeholder color, change as needed */
    /* Adjust if you need a specific alignment or styling for the logo content */
}

.logo-placeholder-mobile img {
    width: 100%; /* Makes the image fully occupy the width */
    height: 100%; /* Makes the image fully occupy the height */
    object-fit: contain; /* Ensures the image covers the placeholder, may clip if aspect ratio differs */
    display: block;
    background-color: transparent;
}

.logo-placeholder-mobile-opdahl {
    width: 100%; /* Ensures the placeholder takes up the correct width within the container */
    height: 500px; /* Keeps aspect ratio of the content */
    background-color: transparent; /* Placeholder color, change as needed */
    /* Adjust if you need a specific alignment or styling for the logo content */
}

.logo-placeholder-mobile-opdahl img {
    width: 100%; /* Makes the image fully occupy the width */
    height: 100%; /* Makes the image fully occupy the height */
    object-fit: contain; /* Ensures the image covers the placeholder, may clip if aspect ratio differs */
    display: block;
    background-color: transparent;
}

.logo-placeholder-mobile-tou {
    width: 100%; /* Ensures the placeholder takes up the correct width within the container */
    height: auto; /* Keeps aspect ratio of the content */
    background-color: transparent; /* Placeholder color, change as needed */
    /* Adjust if you need a specific alignment or styling for the logo content */
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.logo-placeholder-mobile-tou img {
    width: 50%; /* Makes the image fully occupy the width */
    height: 50%; /* Makes the image fully occupy the height */
    object-fit: contain; /* Ensures the image covers the placeholder, may clip if aspect ratio differs */
    display: block;
    background-color: transparent;
}

.logo-placeholder-mobile-thor {
    width: 100%; /* Ensures the placeholder takes up the correct width within the container */
    height: auto; /* Keeps aspect ratio of the content */
    background-color: transparent; /* Placeholder color, change as needed */
    /* Adjust if you need a specific alignment or styling for the logo content */
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.logo-placeholder-mobile-thor img {
    width: 50%; /* Makes the image fully occupy the width */
    height: 50%; /* Makes the image fully occupy the height */
    object-fit: contain; /* Ensures the image covers the placeholder, may clip if aspect ratio differs */
    display: block;
    background-color: transparent;
}


.box-content-about {}

.box-content-about p {
    margin-top: 0;
    margin-bottom: 15px; /* Adjusts spacing between paragraphs within .box-content */
}

.event-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Ensures .event-row spans the full width of .box-content */
    margin-bottom: 0px; /* Fixed spacing between each event entry */
}

.event-date, .institution-name, .event-time {
    margin: 0; /* Resets any default margin */
}

.event-date {
    flex: 1;
    text-align: left;
}

.institution-name {
    flex: 2;
    text-align: center;
    font-weight: bold; /* Makes institution name bold */
}

.event-time {
    flex: 1;
    text-align: right;
}

.event-title {
    display: block; /* Ensures it's on a new line */
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}

.event-row.announcement-row {
    display: flex; /* Use flexbox for this row */
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
    margin-bottom: 30px; /* Vertical spacing between rows */
    font-weight: bold;
}

.responsive-text img {
    width: 100%;
    height: auto;
    display: block; /* Remove extra space beneath the image */
    /* You can add a max-width if you don't want it to scale beyond a certain point */
    padding-top: 12px;
    padding-bottom: 12px;
}

.box-top-text h1 {
    font-weight: 400;
    font-size: 24px;
}